<h2>My Boards</h2>
<section class="boards-container">
  <% @boards.each do |board| %>
    <div class="board"><%= board.name %></div>
  <% end %>

   <article class="new-board-form">
    <h3>Create a new board</h3>
    <%= form_for board do |f| %>
      <%= f.label :name %>
        <%= f.text_field :name, class: "new-board-name" %><br>
        <%= f.submit "Create", class: "create-board" %>
    <% end %>
    </article>
  </section>