<!DOCTYPE html>
<html>
<head>
  <title>Trello</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
</head>
<body>
<%= link_to "Log out", logout_path, method: :delete %> | 
<%= link_to "Register", new_user_path %> |
<%= link_to "Sign In", login_path %>

<%= yield %>

</body>
</html>
